{{!-- {{>header}} --}}

<form action="/posts" method="post">
    <input type="text" name="id" placeholder="writer id">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="desc" placeholder="desc">
    <input type="submit" value="Submit">
</form>

<ul>
    {{#each blogs}}
    <li>
        <div class="container">
            Title : {{title}}
            <br>
            Desc : {{description}}
            <br>
            Likes : {{likes}}
            <form action="/editPost" method="post">
                <input type="text" name="id" value="{{this.id}}" readonly style="display:none">
                <input type=" text" name="title" placeholder="title">
                <input type="text" name="desc" placeholder="desc">
                <input type="submit" value="save changes">
            </form>

            <form action="/deleteBlog" method="post">
                <input type="text" name="id" value="{{this.id}}" readonly style="display:none">
                <input type="submit" value="Remove Blog" )>
            </form>
        </div>
    </li>
    {{/each}}
</ul>
{{!-- {{>footer}} --}}