{{!-- {{>header}} --}}
<ul>
    {{#each data}}
    <li><div class="container">
        Name : {{author}}
        <br>
        Title : {{title}}
        <br>
        Desc : {{desc}}
        <br>
        Likes : {{likes}}
        <br>
        Date : {{date}}
        <br>
        <img width="200px" height="80px" src={{url}}>
    </div></li>
    {{/each}}
</ul>

{{!-- {{>footer}} --}}