{{!-- {{>header}} --}}
    <div class="container-fluid">
        <a href="./addpost" class="btn btn-outline-success">Add Post</a>
        {{#each blogs}}
            <div class="container-fluid">
                <div >Title : {{title}}
                    <br>
                Desc : {{description}}
                <form action="/like" method="post">
                    <button class="btn btn-outline-primary" type="submit" name="like" value={{id}}><i class="far fa-heart"></i></button> : {{likes}}
                </form>

                <form action="/editPost" method="get">
                    <button type="submit" name="id" value="{{this.id}}">Edit post</button>
                </form>

                {{!-- <form action="/editPost" method="post">
                    <input type=" text" name="title" placeholder="title">
                    <input type="text" name="desc" placeholder="desc">
                    <button type="submit" name="id" value="{{this.id}}">Edit post</button>
                </form> --}}
                <form action="/deleteBlog" method="post">
                    <button type="submit" name="id" value="{{this.id}}">Remove post</button>
                </form>
                </div>
            </div>
        {{/each}}
    </div>
{{!-- {{>footer}} --}}