<div class="container-fluid">
    <div class="container-fluid bg-secondary">

        <div>
            <h1>Hi {{user}},</h1>
            <h3>Welcome to our forum</h3>
        </div>
        <div class="container">
            <br>
            <a href=" ./addpost" class="btn btn-success">Add Post</a>
        </div>
        <br>
        {{#each blogs}}
        <div class="container jumbotron ">

            <h3>Title: {{title}}</h3>
            <h6>Desc: {{description}}</h6>
            <div class="btn-group">
                <form action="/like" method="post" class="form-group">
                    <button class="btn btn-outline-info" type="submit" name="like" value={{id}}>
                        <i class="far fa-heart">
                            : {{likes}}
                        </i>
                    </button>
                </form>
            </div>
            <br>
            {{#if isOwner}}
            <div class="btn-group ">
                <form action="/editPost" method="get" class="form-group">
                    <button type="submit" name="id" value="{{this.id}}" class="btn btn-warning ">Edit
                        post</button>
                </form>

                <form action="/deleteBlog" method="post" class="form-group">
                    <button type="submit" name="id" value="{{this.id}}" class="btn btn-danger ">Remove
                        post</button>
                </form>
            </div>
            {{/if}}

        </div>
        <hr>
        {{/each}}
    </div>
</div>